{% extends "layout.html" %}
{% block content %}
    <article>
        {% if files %}
        <table>
            {% for file in files %}
                 <tr>
                     <td><img src="{{ file['iconLink'] }}"></td>
                     <td>
                         <h3><a href="{{ file['selfLink'] }}">{{ file['title'] }}</a></h3>
                         <ul>
                             <li>Owner: {{ file['owners'][0]['displayName'] }}</li>
                             <li>Email: {{ file['owners'][0]['emailAddress'] }}</li>
                             <li>Last modified: {{ file['modifiedDate'] }}</li>
                         </ul>
                     </td>
                 </tr>
            {% endfor %}
        {% else %}
            <h3>{{ message }}</h3>
        {% endif %}
        </table>
    </article>
{% endblock %}