<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>GDriveApp - DevFest 2014</title>

    {% block head %}
        <!--[if lte IE 8]><script src="{{ url_for('static', filename='css/ie/html5shiv.js') }}"></script><![endif]-->
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.dropotron.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.scrollgress.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/skel-layers.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/init.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/skel.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style-wide.css') }}" />
        <!--[if lte IE 8]><link rel="stylesheet" href="{{ url_for('static', filename='css/ie/v8.css') }}" /><![endif]-->
    {% endblock %}

</head>
<body>
<header id="header">
    <div class="container">
        <h1 class="logo">GDriveApp</h1>
    </div>
</header>
<section id="main" class="container">
    <h2>Files from Google Drive</h2>
    <p>This is just a demo app.</p>

    {% block content %}
    {% endblock %}
</section>
</body>
</html>